<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.dev.repository.MembersRepository">
    <select id="findByIdAndPw" resultType="Members">
        SELECT
            id, member_id, member_pw, name, phone_number
        FROM
            members
        WHERE
            member_id = #{member_id} AND member_pw = #{member_pw}
    </select>
    <insert id="insertMembers" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO members (member_id, member_pw, name, phone_number)
        VALUES (#{member_id}, #{member_pw}, #{name}, #{phone_number})
    </insert>
</mapper>